<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>


<h1>Productos en la Base En Tiempo Real Cantidad : {{products.length}}</h1>

<table class="table" id="miTabla">
  <thead>
    <tr>
      <th><b>Nombre:</b></th>
      <th><b>Descripción:</b></th>
      <th><b>Precio:</b></th>
      <th><b>Codígo:</b></th>
      <th><b>Stock:</b></th>
      <th><b>Imagen:</b></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>